.container.firstcontent

    h3 Political websites helth report 
    p.text any website is run by technician, not always these people are aware of the security and privacy implications.
    h3 Privacy and security changes!
    p.text The current situation in Catalunya display an increase of surveillance and actions to contain catalans movement.
    h3 Many websites uses web third parties
    p.text And this means, when you connect to them, you are also connecting to the third party, which most of the time are services intended to profile and monitor you across the web.
    h3 Websites can do better
    p.text That can still works without third parties, and in this way they will guarnatee privacy and security for the readers.

    p.text Which company are more frequent in the website analyzed?
    #companyrank

    p.text Which website install more trackers?
       b TODO: click twice see more, has to be fixed
    #cookiesrank

include footer
